@charset "UTF-8";

@import url("https://fonts.cdnfonts.com/css/cascadia-code");

:root {
  /* Tasks title */
  --black: #495057;
  /* All other text/icon in tasks cards */
  --dark-gray: #6d6a75ff;
  /* Border of tasks card */
  --default-gray: #adb5bdff;

  /* Icons background on hover*/
  --light-gray: #ebebeb;

  /* Borders */
  --borders-gray: #d3d3d3;
  /* Priorities */
  --red: #ff5a5a;
  --yellow: #f6c364;
  --argentinian-blue: #64b5f6ff;
  --yellow: #f6c364;
  --red: #ff5a5a;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Cascadia Code";
  font-size: 100%;
}

image,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  grid-template-rows: 4em 1fr;
  height: 100vh;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  border: 2px solid var(--borders-gray);
  display: flex;
  align-items: center;
}

aside {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
  border-right: 2px solid var(--borders-gray);
  border-left: 2px solid var(--borders-gray);
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 1.2em;
  font-size: 1.8rem;
}

nav div button {
  background-color: transparent;
  border: none;
  color: var(--default-gray);
}

nav div button i {
  padding: 6px;
  border-radius: 5px;
}

div i {
  background-color: transparent;
  border: none;
  color: var(--default-gray);
}

nav div button:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

#min-view {
  height: 100%;
  border-right: 2px solid var(--borders-gray);
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  /*   display: flex;
  flex-direction: column; */
  grid-template-rows: repeat(auto-fit, 55px);
}

#current-tab {
  font-size: 3rem;
  color: var(--default-gray);
  position: absolute;
  bottom: 0.1em;
  align-self: end;
  margin-right: 16px;
}

#full-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  border-right: 2px solid var(--borders-gray);
}

#full-view > div#empty-view {
  position: relative;
  color: var(--default-gray);
  align-self: center;
  /* margin-bottom: 5em; */
  width: 100%;
  text-align: center;
}

#logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

#logo img {
  width: 3em;
}

#logo p {
  font-size: 2rem;
  font-weight: 700;
}

.task-card {
  margin: 1em 1em 0 1em;
  border: 2px solid var(--default-gray);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.6em min-content 1fr min-content;
  grid-template-rows: 1fr;
  transition: 0.1s ease-in-out;
}

.task-card:hover {
  cursor: pointer;
  scale: 1.01;
}

.priority {
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.checkbox-div {
  grid-row: 1 / 2;
  grid-column: 2 /3;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 1em;
}

.checkbox {
  transform: scale(1.4);
  margin-bottom: 1px;
}

.checkbox:hover {
  cursor: pointer;
  accent-color: var(--logo-blue);
}

div.content-wrapper {
  grid-row: 1 / -1;
  grid-column: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
}

p.task-title {
  font-size: 1.2em;
  color: var(--black);
}

p.project-title {
  font-size: 0.8em;
  color: var(--dark-gray);
}

p.due-date {
  grid-column: 4 / 5;
  justify-self: end;
  padding-right: 10%;
  color: var(--dark-gray);
  font-size: 1rem;
}

.due-date {
  color: var(--dark-gray);
}

div.task-actions {
  grid-row: 1 / 2;
  grid-column: 4 / -1;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  padding-right: 1em;
}

button.edit-task,
button.remove-task {
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  border-radius: 5px;
}

button.edit-task:hover,
button.remove-task:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

.task-card:has(.checkbox:checked) {
  opacity: 40%;
}

.red,
.high {
  background-color: var(--red);
}
.yellow,
.medium {
  background-color: var(--yellow);
}
.blue,
.low {
  background-color: var(--argentinian-blue);
}

#modal-option {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
}

#create-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

#create-option > button {
  height: 5em;
  width: 10em;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
}

#create-option > button:hover {
  background-color: var(--argentinian-blue);
  color: white;
  cursor: pointer;
}

/* #modal-forms {
  visibility: hidden;
  height: 100dvh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
} */

form {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.hide {
  display: none;
  visibility: hidden;
}

.display {
  display: block;
  visibility: visible;
}

form > h1 {
  color: var(--dark-gray);
  text-align: center;
}

form > div {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  color: var(--black);
}

form > div > input,
form > div > select,
form > div > textarea {
  resize: none;
  border: 2px solid var(--default-gray);
  color: var(--dark-gray);
  border-radius: 7px;
  padding: 0.2em;
}

form > div > button {
  padding: 0.4em;
  border: none;
  border-radius: 7px;
  background-color: var(--argentinian-blue);
  color: white;
  text-align: center;
}

input::placeholder,
textarea::placeholder {
  color: var(--default-gray);
}

select,
input[type="date"] {
  color: var(--dark-gray);
}

button[type="submit"]:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.project-card {
  margin: 1em 1em 0 1em;
  border: 2px solid var(--default-gray);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.6em 1fr;
  grid-template-rows: 1fr;
  transition: 0.1s ease-in-out;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.project-stripe {
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: var(--default-gray);
}

.project-wrapper {
  height: 51.98px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5em;
  align-items: center;
}

.project-wrapper > .project-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.8em;
}

.project-wrapper > .project-info > .project-title {
  font-size: 1.2em;
  color: var(--black);
}

.project-wrapper > .project-info > a {
  text-decoration: none;
  color: var(--default-gray);
  font-size: 0.8em;
}

.project-wrapper > .project-info > a:hover {
  text-decoration: underline black;
}

.project-actions {
  display: flex;
  margin-right: 1em;
  justify-content: end;
  column-gap: 1em;
}

.project-actions > button {
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  border-radius: 4px;
  padding: 6px 7px;
}

.project-actions > button:hover {
  background-color: var(--light-gray);
}

/* FULL VIEW */

#task-full {
  display: grid;
  grid-template-columns: 1fr /* 5em */;
  grid-template-rows: repeat(min-content, 3);
  position: relative;
  padding: 1em;
}

#task-full-info {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  column-gap: 1em;

  color: var(--black);
  font-size: 1.3rem;
}

#task-full-info > .fa-circle {
  color: transparent;
  border-radius: 100%;
  margin-top: 4px;
  font-size: 0.7rem;
}

#task-full-status {
  grid-row: 2 / 3;

  display: flex;
  align-items: center;
  column-gap: 1em;

  color: var(--default-gray);
  font-size: 1.2rem;
}

#task-full-status > .checkbox {
  opacity: 60%;
}

#task-full-status > .checkbox:checked {
  opacity: 100%;
}

#task-full-notes {
  color: var(--dark-gray);
  padding-top: 1.5em;
}

.point {
  color: var(--borders-gray);
  font-size: 1.2rem;
}

.line {
  background-color: var(--borders-gray);
  height: 2px;
  align-self: start;
  grid-column: 1 / -1;
}
