@charset "UTF-8";


:root {
    --timberwolf: #d3d3d3ff;
    --french-gray: #adb5bdff;
    --dim-gray: #6d6a75ff;
    --argentinian-blue: #64b5f6ff;
    --dodger-blue: #2196f3ff;
    
    --gray: #D3D3D3;
    --border: 2px solid #D3D3D3;
}

/* CSS RESET */

*,
*::before,
*::after{
    box-sizing: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}

image, picture, svg, video, canvas{
    display: block;
    max-width: 100%;
}

p, h1 ,h2 ,h3 ,h4, h5, h6{
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

main{
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100dvh;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: var(--border);
    display: flex;
    align-items: center;
}

aside{
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    border-right: var(--border);
}

.left{
    border-right: var(--border);
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}

#logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

#logo img{
    width: 3em;
}

#logo p{
    font-size: 2rem;
    font-weight: 800;
}


