@charset "UTF-8";

 @import url(https://fonts.bunny.net/css?family=jetbrains-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

:root {
    --timberwolf: #d3d3d3ff;
    --french-gray: #adb5bdff;
    --dim-gray: #6d6a75ff;
    --argentinian-blue: #64b5f6ff;
    --dodger-blue: #2196f3ff;
    
    --light-gray: #D3D3D3;
    --border: 2px solid #D3D3D3;
    --blue: #64b5f6ff;
    --yellow: #f6c364;
    --red: #ff5a5a;
}

/* CSS RESET */

*,
*::before,
*::after{
    box-sizing: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    font-family: 'Jetbrains Mono';
    font-size: 100%;
}

image, picture, svg, video, canvas{
    display: block;
    max-width: 100%;
}

p, h1 ,h2 ,h3 ,h4, h5, h6{
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

main{
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: 4em 1fr;
    height: 100dvh;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border: var(--border);
    display: flex;
    align-items: center;
}

aside{
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    border-right: var(--border);
}

nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1.2em;
    font-size: 1.8rem;
    color: var(--french-gray);
}

nav div i{
    padding: 6px;
    border-radius: 5px;
}

nav div i:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.left{
    border-right: var(--border);
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}

#logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

#logo img{
    width: 3em;
}

#logo p{
    font-size: 2rem;
    font-weight: 700;
}


